@import "./_grid.scss";

header.header {
  height: 90px;
  margin-bottom: 30px;
  position: relative;
  z-index: 5;

  > div {
    height: 100%;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  font-family: Andale;
  text-transform: uppercase;
  font-weight: normal;
  
  @include break(sm) {
    font-size: 1.4rem;
  }

  .header__logo_img {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    .header__logo_inner {
      width: 80px;

      @include break(sm) {
        width: 200px;
      }
    }

    span {
      margin-right: 10px !important;
    }
  }
}

.header__nav_trigger {
  background: none;
  border: 0;
  color: #fff;
  font-size: 1.5rem;

  @include break(sm) {
    display: none;
  }
}

.header__row {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.header__nav ul {
  display: none;

  @include break(sm) {
    display: flex;
    align-items: center;
  }

  a {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0 30px;

    &:hover {
      color: var(--primary-light);
    }
  }
}

.header__connect {
  display: flex;
  align-items: center;
}

.header__network {
  font-weight: 800;
  color: #fff;
  padding: 6px 6px;
  border-radius: 5px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 0.75rem;

  @include break(sm) {
    font-size: 1rem;
    padding: 10px 10px;
    background-color: var(--primary);
  }

  span {
    margin-left: 10px;
    display: none;

    @include break(sm) {
      display: inline;
    }
  }
}

.header__wallet {
  background: var(--primary);
  border-radius: 5px;
  color: #fff;
  border: 0;
  padding: 6px 6px;
  font-weight: 800;
  cursor: pointer;
  height: 38px;
  font-size: 0.75rem;
  
  @include break(sm) {
    font-size: 1rem;
    height: 48px;
    padding: 10px 10px;
  }

  svg {
    height: 14px;
    margin-right: 10px;
    display: none;

    @include break(md) {
      display: inline;
    }
  }
}

.header__buttons a {
  background: var(--primary);
  height: 48px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;

  &:hover {
    box-shadow: 0px 0px 5px 5px rgba(172, 137, 183, 0.25);
    background: var(--primary-light);
  }

  @include break(sm) {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

.topbar {
  background: #f95997;
  min-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;

  a {
    background: #ad1d54;
    font-size: 0.8rem;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 0 10px;

    &:hover {
      background: #fff;
      color: #ad1d54;
    }
  }
}